.switch {
  /* width: 160px;
  height: 100px; */
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}
