.logo {
    /* position: absolute; */
    width: 162px;
    height: 54px;
  
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */
  
  
    /* color: #FFFFFF; */
  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  } 